### Pandas DataFrame

Two-dimensional labeled data structures with columns.

In [1]:
import pandas as pd

model_1 = pd.Series({'Name': 'V40',
                        'Manufacturer': 'Volvo',
                        'Cost': 22.500})
model_2 = pd.Series({'Name': 'Focus',
                        'Manufacturer': 'Ford',
                        'Cost': 18.500})
model_3 = pd.Series({'Name': 'Civic',
                        'Manufacturer': 'Honda',
                        'Cost': 17.500})

df = pd.DataFrame([model_1, model_2, model_3], index=['Store A', 'Store B', 'Store A'])
df.head()

         Cost Manufacturer   Name
Store A  22.5        Volvo    V40
Store B  18.5         Ford  Focus
Store A  17.5        Honda  Civic

In [2]:
df.loc['Store A']

         Cost Manufacturer   Name
Store A  22.5        Volvo    V40
Store A  17.5        Honda  Civic

In [3]:
df.loc['Store A', 'Name']

Store A      V40
Store A    Civic
Name: Name, dtype: object

In [4]:
df.loc['Store A']['Name']

Store A      V40
Store A    Civic
Name: Name, dtype: object

In [5]:
df.T

             Store A Store B Store A
Cost            22.5    18.5    17.5
Manufacturer   Volvo    Ford   Honda
Name             V40   Focus   Civic

In [6]:
df.T.loc['Name']

Store A      V40
Store B    Focus
Store A    Civic
Name: Name, dtype: object

In [7]:
df

         Cost Manufacturer   Name
Store A  22.5        Volvo    V40
Store B  18.5         Ford  Focus
Store A  17.5        Honda  Civic

In [8]:
df.loc[:, ['Name', 'Cost']]

          Name  Cost
Store A    V40  22.5
Store B  Focus  18.5
Store A  Civic  17.5

In [9]:
df.drop('Store A')

         Cost Manufacturer   Name
Store B  18.5         Ford  Focus

In [10]:
df

         Cost Manufacturer   Name
Store A  22.5        Volvo    V40
Store B  18.5         Ford  Focus
Store A  17.5        Honda  Civic

In [11]:
cpy_df = df.copy()
cpy_df = cpy_df.drop('Store A')
cpy_df

         Cost Manufacturer   Name
Store B  18.5         Ford  Focus

In [12]:
del cpy_df['Cost']
cpy_df

        Manufacturer   Name
Store B         Ford  Focus

In [13]:
df['Passenger'] = None
df

         Cost Manufacturer   Name Passenger
Store A  22.5        Volvo    V40      None
Store B  18.5         Ford  Focus      None
Store A  17.5        Honda  Civic      None

In [14]:
df.loc['Store A','Passenger'] = '4'
df

         Cost Manufacturer   Name Passenger
Store A  22.5        Volvo    V40         4
Store B  18.5         Ford  Focus      None
Store A  17.5        Honda  Civic         4