### ISO Alpha-2, Alpha-3, and Numeric Country Codes

In [1]:
import pandas as pd

Read ISO country code list from web page.

In [2]:
df = pd.read_html('http://www.nationsonline.org/oneworld/country_code_list.htm')[2]

In [3]:
df.head()

,0,1,2,3,4
0,NaN,Country or Area Name,"ISO ""ALPHA-2 Code",ISO ALPHA-3 Code,ISO Numeric Code UN M49 Numerical Code
1,NaN,NaN,NaN,NaN,NaN
2,NaN,Afghanistan,AF,AFG,004
3,NaN,Aland Islands,AX,ALA,248
4,NaN,Albania,AL,ALB,008

Delete unnecessary rows and cols

In [4]:
df.drop(0, axis=1, inplace=True)

In [5]:
#df.columns = df.iloc[0,:] it is too long, change the compact names
df.columns = ['Country', 'Alpha2', 'Alpha3', 'Numeric']

In [6]:
df.drop([0,1], axis=0, inplace=True)

In [7]:
df.head()

          Country Alpha2 Alpha3 Numeric
2     Afghanistan     AF    AFG     004
3   Aland Islands     AX    ALA     248
4         Albania     AL    ALB     008
5         Algeria     DZ    DZA     012
6  American Samoa     AS    ASM     016

Reset the index of DataFrame df

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
df.head()

          Country Alpha2 Alpha3 Numeric
0     Afghanistan     AF    AFG     004
1   Aland Islands     AX    ALA     248
2         Albania     AL    ALB     008
3         Algeria     DZ    DZA     012
4  American Samoa     AS    ASM     016

In [10]:
df.describe()

         Country Alpha2 Alpha3 Numeric
count        247    246    247     247
unique       247    246    247     247
top     Botswana     GW    GRC     440
freq           1      1      1       1

Find empty cell

In [11]:
df[df.Alpha2.isnull() != False]

     Country Alpha2 Alpha3 Numeric
152  Namibia    NaN    NAM     516

Find the row where the country code value is TR

In [12]:
df[df['Alpha2'] == 'TR']

    Country Alpha2 Alpha3 Numeric
226  Turkey     TR    TUR     792

That's it.

Full Table is:

In [13]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 10 ):
    print(df)

                                          Country Alpha2 Alpha3 Numeric
0                                     Afghanistan     AF    AFG     004
1                                   Aland Islands     AX    ALA     248
2                                         Albania     AL    ALB     008
3                                         Algeria     DZ    DZA     012
4                                  American Samoa     AS    ASM     016
5                                         Andorra     AD    AND     020
6                                          Angola     AO    AGO     024
7                                        Anguilla     AI    AIA     660
8                                      Antarctica     AQ    ATA     010
9                             Antigua and Barbuda     AG    ATG     028
10                                      Argentina     AR    ARG     032
11                                        Armenia     AM    ARM     051
12                                          Aruba     AW    ABW     533
13                                      Australia     AU    AUS     036
14                                        Austria     AT    AUT     040
15                                     Azerbaijan     AZ    AZE     031
16                                        Bahamas     BS    BHS     044
17                                        Bahrain     BH    BHR     048
18                                     Bangladesh     BD    BGD     050
19                                       Barbados     BB    BRB     052
20                                        Belarus     BY    BLR     112
21                                        Belgium     BE    BEL     056
22                                         Belize     BZ    BLZ     084
23                                          Benin     BJ    BEN     204
24                                        Bermuda     BM    BMU     060
25                                         Bhutan     BT    BTN     064
26                                        Bolivia     BO    BOL     068
27                         Bosnia and Herzegovina     BA    BIH     070
28                                       Botswana     BW    BWA     072
29                                  Bouvet Island     BV    BVT     074
30                                         Brazil     BR    BRA     076
31                         British Virgin Islands     VG    VGB     092
32                 British Indian Ocean Territory     IO    IOT     086
33                              Brunei Darussalam     BN    BRN     096
34                                       Bulgaria     BG    BGR     100
35                                   Burkina Faso     BF    BFA     854
36                                        Burundi     BI    BDI     108
37                                       Cambodia     KH    KHM     116
38                                       Cameroon     CM    CMR     120
39                                         Canada     CA    CAN     124
40                                     Cape Verde     CV    CPV     132
41                                 Cayman Islands     KY    CYM     136
42                       Central African Republic     CF    CAF     140
43                                           Chad     TD    TCD     148
44                                          Chile     CL    CHL     152
45                                          China     CN    CHN     156
46                           Hong Kong, SAR China     HK    HKG     344
47                               Macao, SAR China     MO    MAC     446
48                               Christmas Island     CX    CXR     162
49                        Cocos (Keeling) Islands     CC    CCK     166
50                                       Colombia     CO    COL     170
51                                        Comoros     KM    COM     174
52                            Congo (Brazzaville)     CG    COG     178
53                              Congo, (Kinshasa)     CD    COD     180
54                                   Cook Islands     CK    COK     184
55                                     Costa Rica     CR    CRI     188
56                                  Côte d'Ivoire     CI    CIV     384
57                                        Croatia     HR    HRV     191
58                                           Cuba     CU    CUB     192
59                                         Cyprus     CY    CYP     196
60                                 Czech Republic     CZ    CZE     203
61                                        Denmark     DK    DNK     208
62                                       Djibouti     DJ    DJI     262
63                                       Dominica     DM    DMA     212
64                             Dominican Republic     DO    DOM     214
65                                        Ecuador     EC    ECU     218
66                                          Egypt     EG    EGY     818
67                                    El Salvador     SV    SLV     222
68                              Equatorial Guinea     GQ    GNQ     226
69                                        Eritrea     ER    ERI     232
70                                        Estonia     EE    EST     233
71                                       Ethiopia     ET    ETH     231
72                    Falkland Islands (Malvinas)     FK    FLK     238
73                                  Faroe Islands     FO    FRO     234
74                                           Fiji     FJ    FJI     242
75                                        Finland     FI    FIN     246
76                                         France     FR    FRA     250
77                                  French Guiana     GF    GUF     254
78                               French Polynesia     PF    PYF     258
79                    French Southern Territories     TF    ATF     260
80                                          Gabon     GA    GAB     266
81                                         Gambia     GM    GMB     270
82                                        Georgia     GE    GEO     268
83                                        Germany     DE    DEU     276
84                                          Ghana     GH    GHA     288
85                                      Gibraltar     GI    GIB     292
86                                         Greece     GR    GRC     300
87                                      Greenland     GL    GRL     304
88                                        Grenada     GD    GRD     308
89                                     Guadeloupe     GP    GLP     312
90                                           Guam     GU    GUM     316
91                                      Guatemala     GT    GTM     320
92                                       Guernsey     GG    GGY     831
93                                         Guinea     GN    GIN     324
94                                  Guinea-Bissau     GW    GNB     624
95                                         Guyana     GY    GUY     328
96                                          Haiti     HT    HTI     332
97                     Heard and Mcdonald Islands     HM    HMD     334
98                  Holy See (Vatican City State)     VA    VAT     336
99                                       Honduras     HN    HND     340
100                                       Hungary     HU    HUN     348
101                                       Iceland     IS    ISL     352
102                                         India     IN    IND     356
103                                     Indonesia     ID    IDN     360
104                     Iran, Islamic Republic of     IR    IRN     364
105                                          Iraq     IQ    IRQ     368
106                                       Ireland     IE    IRL     372
107                                   Isle of Man     IM    IMN     833
108                                        Israel     IL    ISR     376
109                                         Italy     IT    ITA     380
110                                       Jamaica     JM    JAM     388
111                                         Japan     JP    JPN     392
112                                        Jersey     JE    JEY     832
113                                        Jordan     JO    JOR     400
114                                    Kazakhstan     KZ    KAZ     398
115                                         Kenya     KE    KEN     404
116                                      Kiribati     KI    KIR     296
117                                 Korea (North)     KP    PRK     408
118                                 Korea (South)     KR    KOR     410
119                                        Kuwait     KW    KWT     414
120                                    Kyrgyzstan     KG    KGZ     417
121                                       Lao PDR     LA    LAO     418
122                                        Latvia     LV    LVA     428
123                                       Lebanon     LB    LBN     422
124                                       Lesotho     LS    LSO     426
125                                       Liberia     LR    LBR     430
126                                         Libya     LY    LBY     434
127                                 Liechtenstein     LI    LIE     438
128                                     Lithuania     LT    LTU     440
129                                    Luxembourg     LU    LUX     442
130                        Macedonia, Republic of     MK    MKD     807
131                                    Madagascar     MG    MDG     450
132                                        Malawi     MW    MWI     454
133                                      Malaysia     MY    MYS     458
134                                      Maldives     MV    MDV     462
135                                          Mali     ML    MLI     466
136                                         Malta     MT    MLT     470
137                              Marshall Islands     MH    MHL     584
138                                    Martinique     MQ    MTQ     474
139                                    Mauritania     MR    MRT     478
140                                     Mauritius     MU    MUS     480
141                                       Mayotte     YT    MYT     175
142                                        Mexico     MX    MEX     484
143               Micronesia, Federated States of     FM    FSM     583
144                                       Moldova     MD    MDA     498
145                                        Monaco     MC    MCO     492
146                                      Mongolia     MN    MNG     496
147                                    Montenegro     ME    MNE     499
148                                    Montserrat     MS    MSR     500
149                                       Morocco     MA    MAR     504
150                                    Mozambique     MZ    MOZ     508
151                                       Myanmar     MM    MMR     104
152                                       Namibia    NaN    NAM     516
153                                         Nauru     NR    NRU     520
154                                         Nepal     NP    NPL     524
155                                   Netherlands     NL    NLD     528
156                          Netherlands Antilles     AN    ANT     530
157                                 New Caledonia     NC    NCL     540
158                                   New Zealand     NZ    NZL     554
159                                     Nicaragua     NI    NIC     558
160                                         Niger     NE    NER     562
161                                       Nigeria     NG    NGA     566
162                                          Niue     NU    NIU     570
163                                Norfolk Island     NF    NFK     574
164                      Northern Mariana Islands     MP    MNP     580
165                                        Norway     NO    NOR     578
166                                          Oman     OM    OMN     512
167                                      Pakistan     PK    PAK     586
168                                         Palau     PW    PLW     585
169                         Palestinian Territory     PS    PSE     275
170                                        Panama     PA    PAN     591
171                              Papua New Guinea     PG    PNG     598
172                                      Paraguay     PY    PRY     600
173                                          Peru     PE    PER     604
174                                   Philippines     PH    PHL     608
175                                      Pitcairn     PN    PCN     612
176                                        Poland     PL    POL     616
177                                      Portugal     PT    PRT     620
178                                   Puerto Rico     PR    PRI     630
179                                         Qatar     QA    QAT     634
180                                       Réunion     RE    REU     638
181                                       Romania     RO    ROU     642
182                            Russian Federation     RU    RUS     643
183                                        Rwanda     RW    RWA     646
184                              Saint-Barthélemy     BL    BLM     652
185                                  Saint Helena     SH    SHN     654
186                         Saint Kitts and Nevis     KN    KNA     659
187                                   Saint Lucia     LC    LCA     662
188                    Saint-Martin (French part)     MF    MAF     663
189                     Saint Pierre and Miquelon     PM    SPM     666
190                  Saint Vincent and Grenadines     VC    VCT     670
191                                         Samoa     WS    WSM     882
192                                    San Marino     SM    SMR     674
193                         Sao Tome and Principe     ST    STP     678
194                                  Saudi Arabia     SA    SAU     682
195                                       Senegal     SN    SEN     686
196                                        Serbia     RS    SRB     688
197                                    Seychelles     SC    SYC     690
198                                  Sierra Leone     SL    SLE     694
199                                     Singapore     SG    SGP     702
200                                      Slovakia     SK    SVK     703
201                                      Slovenia     SI    SVN     705
202                               Solomon Islands     SB    SLB     090
203                                       Somalia     SO    SOM     706
204                                  South Africa     ZA    ZAF     710
205  South Georgia and the South Sandwich Islands     GS    SGS     239
206                                   South Sudan     SS    SSD     728
207                                         Spain     ES    ESP     724
208                                     Sri Lanka     LK    LKA     144
209                                         Sudan     SD    SDN     736
210                                      Suriname     SR    SUR     740
211                Svalbard and Jan Mayen Islands     SJ    SJM     744
212                                     Swaziland     SZ    SWZ     748
213                                        Sweden     SE    SWE     752
214                                   Switzerland     CH    CHE     756
215                  Syrian Arab Republic (Syria)     SY    SYR     760
216                     Taiwan, Republic of China     TW    TWN     158
217                                    Tajikistan     TJ    TJK     762
218                  Tanzania, United Republic of     TZ    TZA     834
219                                      Thailand     TH    THA     764
220                                   Timor-Leste     TL    TLS     626
221                                          Togo     TG    TGO     768
222                                       Tokelau     TK    TKL     772
223                                         Tonga     TO    TON     776
224                           Trinidad and Tobago     TT    TTO     780
225                                       Tunisia     TN    TUN     788
226                                        Turkey     TR    TUR     792
227                                  Turkmenistan     TM    TKM     795
228                      Turks and Caicos Islands     TC    TCA     796
229                                        Tuvalu     TV    TUV     798
230                                        Uganda     UG    UGA     800
231                                       Ukraine     UA    UKR     804
232                          United Arab Emirates     AE    ARE     784
233                                United Kingdom     GB    GBR     826
234                      United States of America     US    USA     840
235                     US Minor Outlying Islands     UM    UMI     581
236                                       Uruguay     UY    URY     858
237                                    Uzbekistan     UZ    UZB     860
238                                       Vanuatu     VU    VUT     548
239               Venezuela (Bolivarian Republic)     VE    VEN     862
240                                      Viet Nam     VN    VNM     704
241                            Virgin Islands, US     VI    VIR     850
242                     Wallis and Futuna Islands     WF    WLF     876
243                                Western Sahara     EH    ESH     732
244                                         Yemen     YE    YEM     887
245                                        Zambia     ZM    ZMB     894
246                                      Zimbabwe     ZW    ZWE     716